html {
    height: 100vh;
    width: 100vw;
    margin: 10px auto;
    overflow: hidden;
}

body {
    height: 95%;
    width: 90%;
    margin: auto;
}

#topo {
    width: 100%;
    height: 15%;
    text-align: center;
    background: rgb(54, 166, 170);
    float: left;
    position: relative;
}

#topo h1 {
    font-size: 2.5em;
    font-weight: 500;
}

#meio {
    width: 100%;
    height: 80%;
    background: gray;
    float: left;
    position: relative;
}

#esquerda {
    width: 10%;
    height: 100%;
    background: rgb(103, 154, 195);
    float: left;
    position: relative;
}

#centro {
    width: 40%;
    float: left;
    position: relative;
}

#direita {
    width: 15%;
    height: 100%;
    float: right;
    background: rgb(103, 154, 195);
    position: relative;
}

#quadro {
    width: 90%;
    aspect-ratio: 1/1;
    margin: 5px auto;
    background: white;
}

#rodape {
    width: 100%;
    height: 5%;
    background: rgb(0, 187, 255);
    float: left;
    position: relative;
}

p {
    font-size: 1.5em;
    margin: 0;
}

img {
    width: 11%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 65%;
    left: 75%;
    z-index: 10;
}
