
body{
    width: 80%;
    height: 700px;
    position: relative;
    margin: auto;

}

#azul{
    width: 25%;
    height: 15%;
    position: relative;
    background-color: rgb(80, 80, 254);
    float: left;

    
}

#vermelho{
    
    width: 75%;
    height: 15%;
    position: relative;
    background-color: rgb(180, 24, 24);
    float: right;
    
}

#amarelo{
    height: 75%;
    width: 100%;
    position: relative;
    float: inline-start;
    background-color: rgba(255, 255, 0, 0.588);
    box-sizing: border-box;
    border: 10px solid rgb(255, 190, 190);


}


#verde{
    height: 40px;
    width: 100%;
    background-color:  rgb(17, 78, 17);
    position: relative;
    float: inline-start;
}

#cinza{
    height: 45px;
    width: 100%;
    background-color: gray;
    position: relative;
    float: inline-start;
    
}

p{
    margin: 0;
    text-align: center;
}