* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    position: relative;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: white;
    
}

main {
    width: 90%;
    height: auto;
    margin: auto;
}

#titulo_pagina {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menu_superior {
    width: 100%;
    margin: auto;
    height: 40px;
    background-color: blue;
    align-items: center;
    right: 0;
}
#menu_superior ul{
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 100px;
    text-align: center;
    padding: 10px;
    align-items: center;
}
#menu_superior ul li{
    width: 110PX;
    list-style-type: none;
    
}

#menu_lateral {
    float: left;
    width: 20%;
    height: 660px;
    background-color: rgb(255, 255, 255);
}
#menu_lateral ul{
    margin-top: 10px;
}
#menu_lateral ul li{
    text-align: left;
    padding: 20px;
    background-color: #858386;
    height: 17px;
    margin-bottom: 2px;
}
#meio {
    width: 58%;
    height: 660px;
    background-color: rgb(255, 255, 255);
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    
}

#titulo_meio {
    width: 100%;
    height: 40px;
    background-color: #FFF;
    color: black;
    margin-top: 10px;
}

#div_meio {
    width: 100%;
    height: 260px;
    background-color: rgb(161, 49, 4);
    margin-top: 10px;
}

#div_meio img{
    width: 100%;
    height: 100%;
}


#meio p {
    width: 95%;
    height: 110px;
    text-align: justify;
    padding: 20px;
    background-color: rgb(119, 167, 249);
    margin-top: 10px;
}

#container {
    width: 100%;
    height: 170px;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.caixa{
    width: 30%;
    height: 100%;
    background-color: #CCC;
}

#caixa1{
    background-image: url(../images/rodovia.jpg);
    background-size:cover;

}

#caixa2{
    background-image: url(../images/noiteLunar.jpg);
    background-size:cover;

}

#caixa3{
    background-image: url(../images/sol.jpg); 
    background-size:cover;

}

aside {
    font-size: px;
    float: left;
    width: 20%;
    height:660px;
    background-color: #e870f8;
}

aside img{
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    clear:left;
}
