*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0 60px;
}
header{
    background-image: url(./imagens/guitarras_header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:180px;
}
nav ul{
    display: flex;
    position: absolute;
    right: 100px;
    top: 100px;
    text-align: center;
}
nav ul li{
    padding: 15px;
    text-align: center;
    width: 100px;
    height: 20px;
    background-color: white;
    list-style: none;
}
nav ul li a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(213, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
    
}


#sobre{
    width: 100%;
    height: auto;
    background-color: brown;
}
.container{
    gap: 50px;
    display: flex;
    width: 100%;
    padding: 60px;
}
.textoSobre{
    color: #fff;
    width: 40%;
    height: 250px;
    padding: 30px;
    background-color: rgba(240, 248, 255, 0.547);
}
.textoSobre h1, .textoMapa h1{
    font-size: 30px;
}
.textoSobre p, .textoMapa p{
    margin-top: 20px;
    font-size: 18px;
}
.imagemSobre{
    width: 50%;
}
.imagemSobre img{
    width: 600px;
    height: 300px;
}

#cards{
    gap: 50px;
    padding: 20px;
    display: flex;
    background-color: rgb(215, 236, 255);
}
.card{
    align-items: center;
    width: 200px;
    background-color: rgb(250, 241, 230);
    padding: 20px;
    height: 220px;
    text-align: center;
}
.card img{
    width: 60%;
    height: 100px;
    margin: 0 40px;
}
.card p{
    text-align: center;
    margin-top: 20px;
    color: black;
    margin-bottom: 10px;
}
.card span{
    
    color: rgb(213, 19, 19);
    font-weight: 600;

}

#EnderecoContato{
    padding: 20px 0px;
    background-color: rgb(204, 92, 92);
}
#Endereco{
    
    display: flex;
   gap: 50px;
    padding: 50px;
    background-color: brown;
}

.mapa img{
    width: 600px;
    height: 300px;
    
}
.mapa{
    width: 45%;
}
.textoMapa{

    color: #fff;
    width: 45%;
    height: 250px;
    padding: 30px;
    background-color: rgba(240, 248, 255, 0.547);
}

#Contato{
    gap: 60px;
    display: flex;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #fff;
}
.formulario{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.formulario input{
    margin-bottom: 20px;
    width: 80%;
    border-radius: 5px;
    height: 40px;
}
#inputTexto{
    height: 150px;
    width: 50%;
}
.redes{
    padding: 30px;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: auto;
}
.redes h1{
    color: rgb(15, 15, 154);
    font-size: 30px;
}
.redes img{
    width: 100px;
    height: 100px;
}
#footer{
    color: #fff;
    background-color: black;
    padding: 30px;
    align-items: center;
    text-align: center;
}
#footer h1{
    font-size: 18px;
}
#footer img{
    width: 30px;
    margin: 15px;
}
